* {
    font-family: 'Times New Roman', Times, serif;
}

header  {
background-color: royalblue;
position: absolute;
display:flex;
height: 60px;
width: 100%;
margin-left: -8px;
margin-top: -8px;
}

.logo{
    height:100% ;
    width:15% ;
    display: flex;
    text-align:center ;
    place-content: center;
    position:static ;
    align-items:center ;
}

ul {
list-style-type: none;  
background-color:royalblue ;
margin:0px ;
padding:0px ;
display:inline-flex ;
}

li {
float: left;
}

li a {
display: block;
color: black;
padding: 8px 15px;
 text-decoration: none;
 text-align: center;
 font-size: x-large;
 border-radius: 20px;
}

li a:hover{
background-color: #555;
color: #000);}

.menu {
    width: 85%;
text-align: center ;
align-self: center;
}  
