* {
    font-family: 'Times New Roman', Times, serif;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;

}

.container-header{

    height: 60px;
    width: 100%;
    display: flex;
    background-color: royalblue;

}

header  {

position: absolute;
display:flex;
height: 50%;
width: 100%;
margin-left: -8px;
margin-top: -8px;
background-image: url(images/6.jpg);

}

.logo{
    height: 50px ;
    width: 50px; 
    display: flex;
    text-align:center ;
    place-content: center;
    position:static ;
    align-items:center ;
}

ul {
list-style-type: none;  
background-color:royalblue ;
margin:0px ;
padding:0px ;
display:inline-flex ;
}

li {
float: left;
}

li a {
display: block;
color: black;
padding: 8px 15px;
 text-decoration: none;
 text-align: center;
 font-size: x-large;
 border-radius: 20px;
}

li a:hover{
background-color: #555;
color: (#000);}

.menu {
    width: 85%;
text-align: center ;
align-self: center;
}  

.slideshow-container{
    max-width: 850px;
    position: relative;
    margin: auto;
    top: 330px;
    
}

.mySlides{
display: none;
}

.prev, .next{
cursor: pointer;
position: absolute;
top: 50%;
margin-top: -20px;
padding: 15px;
font-weight: bold;
font-size: 20px;
transition: 0.6 ease;
border-radius: 0 3px 3px 0 ;
user-select: none;
}

.next{
right: 0;
border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.5) ;
}

.text{
    font-size: 25px;
    padding: 8px 12px;
    position: abulute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: cursive;
}

.numbertext{
    font-size: 20px;
    padding: 8px 12px;
    position: auto;
    top: 0;
    font-family: cursive;
}

.dot{
cursor: pointer;
height: 15px;
width: 15px; 
background-color: #bbb ;
display: inline-block;
border-radius: 50%;
transition: background-color 0.6s ease;
position: relative;
align-content: center;
left: 350px;
margin: 0 20px;
}

.active,.dot :hover{

    background-color: #717171; 
}

.fade{
     -webkit-animation-name:fade;
     -webkit-animation-duration: 1.5s ;
animation-name: fade;
animation-duration: 1.5s;
 }

 .grid-container{
    margin-top: 33%;
    display: grid;
    grid-template-columns: auto  auto  auto;
   
    padding:10px;
    text-align: center;
    border-radius: 50px;
    }
    
    .grid-item img {
       height: inherit;
       width: inherit;
       cursor: pointer;
       transform: scale3d(1.2);
    }

    .grid-item:hover img, .grid-item:focus img{
        transform: scale3d(1.2);
    }
    
     

 @-webkit-keyframes fade{
     from{opacity: .4;}
     to{opacity: 1;}
 }

 @keyframes fade{
     from {opacity: .4;}
     to{ opacity: 1;}
 }

